body {
  font-family: sans-serif;
}
.btnDiv {
  display: flex;
  flex-direction: column;
  float: right;
}

.btn {
  background-color: blueviolet;
  color: whitesmoke;
  height: 2rem;
  width: 5rem;
  margin: 0.3rem;
  float: right;
}

label {
  margin-right: 0.2rem;
}
li {
  list-style: none;
}
.input-item {
  margin: 0.2rem;
}
.imgContainer {
  clear: both;
  float: right;
  margin: 1rem;
}
.imgList {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.drag-area {
  float: right;
  clear: left;
  border: 0.1rem dashed blueviolet;
  height: 15rem;
  width: 15rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag-area.active {
  border: 0.1rem solid blueviolet;
  border-radius: 0.3rem;
}
.drag-area .icon {
  font-size: 3rem;
  color: blueviolet;
}
.drag-area header {
  font-size: 1.2rem;
  font-weight: 500;
  color: blueviolet;
}
.drag-area span {
  font-size: 1.5rem;
  font-weight: 500;
  color: blueviolet;
}
.drag-area button {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  background: blueviolet;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}
.drag-area h2 {
  color: blueviolet;
}
