body {
  font-family: sans-serif;
}
#addBtn {
  background-color: blueviolet;
  color: whitesmoke;
  height: 2rem;
  width: 5rem;
  margin-right: 0.2rem;
  float: right;
}
label {
  margin-right: 0.2rem;
}
li {
  list-style: none;
}
.input-item {
  margin: 0.2rem;
}
